body {
    background-color: antiquewhite;
}

#workout-details {
    position: relative;
}

#workout-img
{
    height: 450px;
    left: 400px;
    position: relative;
    top: -520px;
    bottom: 500px;
    width: 450px;
}

#name-of-exercise{
    height: 40px;
    left: 400px;
    position: relative;
    top: -1053px;
    width: 447px;
    font-family: fantasy;
    font-size: 28px;
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    text-align: center;
}
#sets-reps {
    left: 900px;
    position:relative;
    top: -900px;
    width: 400px;
    font-family: fantasy;
    font-size: 32px;
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    text-align: center;
}

#exercise-library {
    top: 60px;
    position:relative;
    font-family: fantasy;
    font-size: 32px;
    width: 250px;
}

#individual-exercise{
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
}