body {
    background-color: white;
}

#workout-details {
    position: relative;
}

#workout-img
{
    height: 450px;
    left: 400px;
    position: relative;
    top: -420px;
    bottom: 500px;
    width: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

#name-of-exercise{
    height: 40px;
    left: 400px;
    position: relative;
    top: -953px;
    width: 447px;
    font-family: copperplate;
    font-size: 28px;
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#sets-reps {
    left: 900px;
    position:relative;
    top: -1032px;
    width: 400px;
    font-family: copperplate;
    font-size: 28px;
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#exercise-library {
    top: 60px;
    position:relative;
    font-family: copperplate;
    font-size: 32px;
    width: 250px;
}

#individual-exercise{
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}

#todays-workout {
    left: 900px;
    position:relative;
    top: -1000px;
    width: 365px;
    font-family: copperplate;
    font-size: 32px;
    border-style: inset;
    border-color: grey;
    border-top-width: 10px;
    background-color: rgba(128, 128, 0, 0.424);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

li {
    font-size: 24px;
    font-family: copperplate;
}

h1 {
    font-family: copperplate;
    font-size: 42px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 425px;
}